@{
    ViewData["Title"] = "Register";
}

<div>
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-12">
                <h1 class="display-4 text-center">Register</h1>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-6">
                    <button type="button" 
                            class="btn btn-primary" 
                            data-bs-toggle="modal" 
                            data-bs-target="#ModalRegistrationPhysicalPerson"
                            onclick="location.href='@Url.Action("Index", "PhysicalPerson")'">
                        Registration physical person
                    </button>
            </div>
            <div class="col-6">
                <button type="button" 
                        class="btn btn-primary" 
                        data-bs-toggle="modal" 
                        data-bs-target="#ModalLegalEntityRegistration"
                        onclick="location.href='@Url.Action("Index", "LegalEntities")'">
                    Legal entity registration
                </button>
            </div>
        </div>
    </div>
</div>