@{
    ViewData["Title"] = "Register";
}
<script src="~/js/jquery/register.js"></script>
<div>
    <h1 class="display-4 text-center">Register</h1>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col text-center">
                <p>Create your registration.</p>
                <p>View your orders easily, shop faster and have a personalized experience.</p>
                <p>*Required fields</p>
            </div>
        </div>
        <form method="post" action="ActivateYourRegistration">
            <fieldset>
                <legend class="display-4 text-center">Account</legend>
                <div class="row">
                    <div class="col align-self-end">
                        <div class="mb-1">
                            <label for="FirstName" class="form-label">First name*</label>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="mb-1">
                            <label for="LastName" class="form-label">Last name*</label>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="mb-1">
                            <label for="Gender" class="form-label">Gender*</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col align-self-start">
                        <div class="mb-1">
                            <input class="form-control form-control-sm" id="FirstName" name="FirstName" type="text" placeholder="First name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-1">
                            <input class="form-control form-control-sm" id="LastName" name="LastName" type="text" placeholder="Last name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-1">
                            <select class="form-select form-control form-control-sm" id="Gender" name="Gender">
                                <option selected>Selected</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col align-self-end">
                        <div class="mb-1">
                            <label for="DateOfBirth" class="form-label">Date of birth*</label>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="mb-1">
                            <label for="RegistrationOfIndividuals" class="form-label">Registration of individuals*</label>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="mb-1">
                            <label for="Telephone" class="form-label">Telephone*</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-1">
                            <input  class="form-control form-control-sm" 
                                    id="DateOfBirth" 
                                    name="DateOfBirth" 
                                    type="date" 
                                    placeholder="Date of birth">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-1">
                            <input class="form-control form-control-sm"
                                   id="RegistrationOfIndividuals"
                                   name="RegistrationOfIndividuals"
                                   type="text"
                                   placeholder="Registration of individuals">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-1">
                            <input  class="form-control form-control-sm" 
                                    id="Telephone" 
                                    name="Telephone" 
                                    type="text" 
                                    placeholder="Telephone">

                        </div>
                    </div>
                </div>

                <legend class="display-4 text-center">Address</legend>
                <div class="row">
                    <div class="col align-self-end">
                        <div class="mb-1">
                            <label for="ZipCode" class="form-label">ZipCode*</label>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="mb-1">
                            <label for="Address" class="form-label">Address*</label>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="mb-1">
                            <label for="Number" class="form-label">Number*</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-1">
                            <input class="form-control form-control-sm" 
                                   id="ZipCode" 
                                   name="ZipCode" 
                                   type="text" 
                                   placeholder="ZipCode">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-1">
                            <input class="form-control form-control-sm" 
                                    id="Address" 
                                    name="Address" 
                                    type="text" 
                                    placeholder="Address">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-1">
                            <input class="form-control form-control-sm" 
                                    id="Number" 
                                    name="Number" 
                                    type="text" 
                                    placeholder="Number">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col align-self-end">
                        <div class="mb-1">
                            <label for="Neighborhood" class="form-label">Neighborhood*</label>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="mb-1">
                            <label for="City" class="form-label">City*</label>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="mb-1">
                            <label for="State" class="form-label">State*</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-1">
                            <input class="form-control form-control-sm" 
                                    id="Neighborhood"
                                    name="Neighborhood" 
                                    type="text" 
                                    placeholder="Neighborhood">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-1">
                            <input class="form-control form-control-sm" 
                                    id="City" 
                                    name="City" 
                                    type="text" 
                                    placeholder="City">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-1">
                            <select class="form-select form-control form-control-sm" 
                                    id="State" 
                                    name="State">
                                <option selected>Selected</option>
                                <option value="SP">SP</option>
                                <option value="RJ">RJ</option>
                            </select>
                        </div>
                    </div>
                </div>

                <legend class="display-4 text-center">Login</legend>
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4 align-self-end">
                        <div class="mb-1">
                            <label for="Email" class="form-label">Email*</label>
                        </div>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                        <div class="md-1">
                            <input class="form-control form-control-sm" id="Email" name="Email" type="text" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4 align-self-end">
                        <div class="mb-1">
                            <label for="Password" class="form-label">Password*</label>
                        </div>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                        <div class="mb-1">
                            <input class="form-control form-control-sm" id="Password" name="Password" type="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">

</script>