<div class="text-center">
    <button type="button"
            class="btn btn-outline-light btn-sm position-relative"
            style="border:none;">
        <img src="~/img/email.png"
             class="rounded mx-auto d-block"
             style="border:none;"
             alt="..."
             width="45"
             height="45" />
    </button>
    <p class="display-4">Not long, activate your registration :)</p>
    <p>Your registration has already been created and now you just need to activate it.</p>
    <p>Check your inbox or spam and follow the instructions we sent in the email.</p>
    <p>Did not receive? resend email</p>
</div>